.header__container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 229px;
    height: 39px;
    margin: 30px 120px 0px 120px;
}

.contacts__container {
    display: flex;
    align-items:center;
    justify-content: center;
    
    gap: 60px;
    height: 17px;
}